.idea/

# IntelliJ
out/

# hide settings.properties and gcloudkey.json
src/main/resources/settings.properties
src/main/resources/gcloudkey.json

# exclude local mp3 test files
mp3

# other exclusions
*.out
dependency-reduced-pom.xml
# Maven
target/
.settings

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# Log file
*.log